* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  color: white;
  overflow: hidden;
}

/* Canvas Background */
#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

nav span {
  background: linear-gradient(90deg, #00eaff, #ff00ff);
  -webkit-background-clip: text;
  color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

/* Hero */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 span {
  background: linear-gradient(90deg, #00eaff, #ff00ff);
  -webkit-background-clip: text;
  color: transparent;
}
